astropy==6.1.6
clr==1.0.3
fft_conv_pytorch==1.2.0
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.5
matplotlib==3.9.2
multiprocess==0.70.17
numpy==2.1.3
Pillow==11.0.0
progressbar33==2.4
pylablib==1.4.3
pypylon==4.0.0
pytorch_lightning==2.4.0
pyvisa==1.14.1
pyzmq==26.2.0
scipy==1.14.1
skimage==0.0
tftb==0.1.4
torch==2.5.1
torchmetrics==1.6.0
wandb==0.18.7
